#===============================================================
# Navigation
#===============================================================

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

#===============================================================
# brew
#===============================================================

if ( type brew &>/dev/null ) ; then
  alias brew_prune="brew cleanup --prune=all -v"
  alias brew_update_all="brew update && brew upgrade && brew cleanup --prune=all -v"
fi

#===============================================================
# OS metrics
#===============================================================

alias htop='sudo htop'
if [[ "$(uname)" == "Darwin" ]] ; then
  ( type powermetrics &>/dev/null ) && alias tempcheck="sudo powermetrics --samplers smc | grep -i 'CPU die temperature'"
  ( type osx-cpu-temp &>/dev/null ) && alias tempwatch="watch -d 'osx-cpu-temp -cgCf'"
fi

#===============================================================
# Utilities
#===============================================================

alias cdate='echo -n "$(date +%F\ %T\ %Z)" | $_clipboardApp'     # full-date local TZ
alias cdateu='echo -n "$(date -u +%F\ %T\ %Z)" | $_clipboardApp' # full-date UTC
alias curl="curl --progress-bar --connect-timeout 3 -m 3 -s -H 'User-Agent: Mozilla/5 Gecko'"
( type colordiff &>/dev/null ) && alias diff='colordiff'
alias egrep="egrep --color=auto"
alias grep="grep --color=auto"
alias history='history -i'
if ( type eza &>/dev/null ) ; then
  alias ll="eza --group-directories-first -al --icons=always --git-ignore -F always -o --no-user --git --color-scale all --color-scale-mode fixed -s type"
  alias lld="eza --group-directories-first -al --icons=always --git-ignore -F always -o --no-user --git --color-scale all --color-scale-mode fixed -D"
  alias llt="eza --group-directories-first -alT --icons=always --git-ignore -F always -o --no-user --git --color-scale all --color-scale-mode fixed -s type"
  alias ls="eza --group-directories-first -a --icons=always --git-ignore -F always -o --no-user --git --color-scale all --color-scale-mode fixed -s type"
else
  alias ll="ls -Gahop"
  alias lld="ls -lad"
  alias llt="tree --gitignore"
  alias ls="ls -GFa"
fi
alias l="ls"
alias monitor="tail -f /var/log/*.log"
( type socat &>/dev/null ) && alias monsocat="watch -d \"ps ax | grep socat | egrep -v 'grep|netstat' ; netstat -tn | grep '127.0.0.1.443'\""
( type python3 &>/dev/null ) && alias python="$(which python3)"
( type gsed &>/dev/null ) && alias sed="$(which gsed)"
alias nvc="_info '📝 Opening Neovim Config' ; ([ -d "${XDG_CONFIG_HOME:-~/.config}/nvim" ] && cd "${XDG_CONFIG_HOME:-~/.config}/nvim" && nvim .)"
alias stat='stat -x'
alias tm='tmux'
alias tma='tmux a'
alias tmls='tmux ls'
alias vi='vim'
alias wget="wget -U 'User-Agent: Mozilla/5 Gecko' -ct 3 -T 3 --show-progress --progress=bar --no-cache"
( type yamllint &>/dev/null ) && alias yamllint="yamllint -d '{extends: relaxed, rules: {line-length: {max: 280}}}'"
if ( type zoxide &>/dev/null ); then
  alias cd="z"
  alias cdi="zi"
fi
( type nc &>/dev/null ) && alias nc="nc -vvv -w3"



#===============================================================
# misc
#===============================================================

# open dotfiles
alias dots='[ -d ~/dotfiles/ ] && _info "Entering dotfiles config! 🚀" && (cd ~/dotfiles/ && nvim .)'

# obsidian open
alias oo="_info '📝 Opening Obsidian' ; ( cd "${OBSIDIAN_VAULT_DIR:-~/obsidian-vault}/" && nvim . )"
# obsidian search
alias os="_info '🔎 Opening ObsidianSearch' ; ( cd "${OBSIDIAN_VAULT_DIR:-~/obsidian-vault}/" && nvim -c ObsidianSearch )"

alias reload="reset ; source ${HOME}/.zshrc"
( type cmatrix &>/dev/null ) && alias cmatrix='cmatrix -abs'
( type ghostty &>/dev/null ) && alias boo='ghostty +boo'

#===============================================================
# fzf preview/edit
#===============================================================

alias pf="fzf --preview='less {}' --bind shift-up:preview-page-up,shift-down:preview-page-down"
alias v="nvim -o \$(fzf -m --preview 'bat --style=numbers --color=always --line-range :500 {}')"

#===============================================================
# git
#===============================================================

alias g="git"
alias ga='git a'
alias gd='git diff'
( type gh &>/dev/null ) && alias gh-create='gh repo create --private --source=. --remote=origin && git push -u --all && gh browse'
alias gll="git log --pretty=format:'%C(red)%h%C(reset) %C(auto)%d%C(reset) %s %Cgreen(%ai) %C(bold blue)<%an>%C(reset)' --graph --stat"
alias gs='git status'
alias gss='git status -s'
alias gsp='git status --porcelain'
alias gu='git u'
alias lp="git lp"
alias st="git st"
if ( type lazygit &>/dev/null ) ; then
  alias gt="lazygit log -ucd ~/.config/lazygit"
elif ( type gitui &>/dev/null ) ; then
  alias gt="gitui"
fi
if (type delta &>/dev/null) ; then
  alias delta="delta -n"
fi

#===============================================================
# docker
#===============================================================

if ( type docker &>/dev/null ) ; then
  alias alpine="docker run --rm -it -w /mnt -v $(pwd):/mnt:rw alpine:latest ash"
  alias d="docker"
  alias db='docker buildx build --no-cache'
  alias dc='docker compose'
  alias de='docker exec -ti'
  alias di='docker images'
  alias dils="docker image ls --format 'table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.Size}}'"
  alias dirm='docker image rm'
  alias dps='watch -d -n 0.5 "docker ps -a"'
  alias dr='docker run -ti --rm'
  alias dsta='docker stop $(docker ps -q)'
  alias dvprune='docker volume prune'
fi
( type slim &>/dev/null ) && alias slim='slim build --http-probe-off --continue-after 1 --include-cert-all --include-cert-dirs --include-cert-pk-all --include-cert-pk-dirs --include-shell'

#===============================================================
# ACT - check ~/.actrc
#===============================================================

( type act &>/dev/null ) && ( type gh &>/dev/null ) && alias act="act --rm -b --use-new-action-cache --detect-event -s GITHUB_TOKEN=\"$(gh auth token)\""

#===============================================================
# kubernetes
#===============================================================

if ( type kubectl &>/dev/null ) ; then
  if ( type kubecolor &>/dev/null ) ; then
    alias k='kubecolor'
    alias kubectl='kubecolor'
  else
    alias k='kubectl'
  fi

  # check if it works
  (type complete &>/dev/null) && complete -o default -F __start_kubectl k

  alias kcp='kubectl cp'
  alias kdel='kubectl delete'
  alias keti='kubectl exec -t -i'
  alias kga='kubectl get all'
  alias kgaa='kubectl get all -A'
  alias kgd='kubectl get deploy'
  alias kge="kubectl get event --no-headers=true --sort-by='.lastTimestamp' -w"
  alias kgea="kubectl get event --no-headers=true -Aw"
  alias kgee='kubectl events --no-headers=true --types=Warning -w'
  alias kgn='kubectl get node --sort-by=".metadata.creationTimestamp"'
  alias kgnl='kubectl get node --sort-by=".metadata.creationTimestamp" --show-labels'
  alias kgns='kubectl get namespace'
  alias kgnsl='kubectl get namespace --show-labels'
  alias kgp='kubectl get pods --sort-by=".metadata.creationTimestamp"'
  alias kgpf='kubectl get pod --field-selector="status.phase!=Succeeded,status.phase!=Running"'
  alias kgpw='kgp --watch'
  alias kgs='kubectl get svc'
  alias klog='kubectl logs'
  alias kpf='kubectl port-forward'
  alias krh='kubectl rollout history'
  alias krs='kubectl rollout status'
  alias krsd='kubectl rollout status deployment'
  alias krsss='kubectl rollout status statefulset'
  alias kru='kubectl rollout undo'
  alias ksd='kubectl scale deployment'
  alias ktn='kubectl top node --use-protocol-buffers=true'
  alias ktnc='kubectl top node --show-capacity=true --use-protocol-buffers=true'
  alias get_taints='kubectl get node -o name | while read node ; do echo -en "$(basename ${node})\t" ; kubectl describe ${node} | grep Taint | column -tx ; done'
  # krew stuff
  ( type kubeconform &>/dev/null ) && alias kubeconform='kubeconform -output pretty -summary -strict -verbose'
  # custom pods
  alias pod_alpine="kubectl run -it --rm alpine --image alpine:latest --restart=Never -- ash"
  alias pod_nats="kubectl run -it --rm nats-box --image=natsio/nats-box --restart=Never -- ash"
  alias pod_ubuntu="kubectl run -it --rm ubuntu --image ubuntu:latest --restart=Never -- bash"
fi
# kubie
if ( type kubie &>/dev/null ) ; then
  alias kc='kubie ctx'  # context selector
  alias kn='kubie ns'   # namespace selector
fi
# stern
if ( type stern &>/dev/null ) ; then
  alias stern="stern --only-log-lines -td -H '(?i)debug|info|warn[i][n][g]|auth|fail[e][d]|error|critical|unknown|unhealthy'"
fi
# helm
if ( type helm-docs &>/dev/null ) ; then
  alias helm-docs='helm-docs -b plastic -u'
fi
# minikube
if ( type minikube &>/dev/null ) ; then
  alias mk='minikube'
  alias mks='minikube profile list && minikube status'
  alias mkstart='start --addons=storage-provisioner,metallb --delete-on-failure=true --cni=calico && mks'
  alias mkt="minikube tunnel --cleanup=true --bind-address='*'"
  alias mku="minikube update-context"
fi

#===============================================================
# private browsing - set one of:
#   alias pb="$(which brave) --incognito &"
#   alias pb="$(which google-chrome) --incognito &"
#   alias pb="$(which firefox) --private-window --safe-mode &"
#===============================================================
