# shellcheck disable=SC2155,SC2086,SC2034
#===============================================================
_clipboardApp="$(if ( command xclip -v &>/dev/null ) ; then echo xclip ; elif ( command -v pbcopy &>/dev/null ) ; then echo pbcopy ; fi)"
#===============================================================
# multi purpose banners
function _info() {
  echo -e "${CYAN}==>  ${BOLD}${1}${NONE}"
}

function _warning() {
  echo -e "${YELLOW}==>  ${1}${NONE}"
}

function _success() {
  echo -e "${GREEN}==> ✔ ${NONE}${1}"
}

function _error() {
  echo -e "${RED}==> ✘ ${MAGENTA}${1}${NONE}\n"
}
alias _fail='_error'

function divider() {
  [[ "${COLUMNS}" ]] || COLUMNS=80
  eval "printf '⎯%.0s' {1..$COLUMNS}"
  echo
}
#===============================================================
# Create a new directory and enter it
function md() {
  mkdir -vp "${1}" && cd "${1}" && _info "cd ${CYAN}$(pwd)/"
}
#===============================================================
# find shorthand
function f() {
  local SEARCH="$(fd . --one-file-system --strip-cwd-prefix=always | fzf --header='󱞽 Copy path/file to clipboard' --preview 'bat --color=always --line-range :500 {}')"
  if [ -n "${SEARCH}" ] ; then
    echo -n "${SEARCH}" | $_clipboardApp
    echo -e "\"${SEARCH}\" copied to clipboard\n"
  fi
}
#===============================================================
function asdf_install() {
  local PLUGIN="${1}"
  # https://asdf-vm.com/guide/getting-started.html
  [ -z "${PLUGIN}" ] && local PLUGIN="$(asdf plugin list all | fzf --reverse --accept-nth=1)"
  [ -z "${PLUGIN}" ] && echo "No plugin provided" && return 1
  asdf plugin add ${PLUGIN} || return 1
  local VERSION="$(asdf list all ${PLUGIN} | sed 's/^$/latest/' | fzf --reverse --tac --prompt="Select ${PLUGIN} version to install" | xargs)"
  [ -z "${VERSION}" ] && echo "No version provided" && return 1
  asdf install ${PLUGIN} ${VERSION}
  asdf set ${PLUGIN} ${VERSION}
  asdf current ${PLUGIN}
  _success "Done"
}
function asdf_uninstall() {
  local PLUGIN="${1}"
  [ -z "${PLUGIN}" ] && local PLUGIN="$(asdf plugin list | fzf --reverse --accept-nth=1)"
  [ -z "${PLUGIN}" ] && echo "No plugin provided" && return 1
  local VERSION="$(asdf list ${PLUGIN} | sed 's/\*//' | fzf --reverse --tac --prompt="Select ${PLUGIN} version to remove" | xargs)"
  asdf uninstall ${PLUGIN} ${VERSION}
  _success "Done"
}
function asdf_remove() {
  local PLUGIN="${1}"
  [ -z "${PLUGIN}" ] && local PLUGIN="$(asdf plugin list | fzf --reverse --accept-nth=1)"
  [ -z "${PLUGIN}" ] && echo "No plugin provided" && return 1
  echo -en " ${YELLOW}Completely remove ALL ${PLUGIN} versions? [y/N]:${NONE} " ; read -r confirm
  case "${confirm}" in
    [yY]*)
    true
    ;;
    *)
    return 0
    ;;
  esac
  asdf plugin remove ${PLUGIN}
  _success "Done"
}
#===============================================================
# kill tmux sessions
function tmux-kill() {
  tmux kill-session -t $(tmux ls 2>/dev/null | fzf -0 -m --delimiter=':' --accept-nth='1' --marker='✘' --prompt='󱞽 Select session(s) to kill') 2>/dev/null
}
#===============================================================
# Start an HTTP server from a directory, optionally specifying the port
# https://appdividend.com/2023/03/20/modulenotfounderror-no-module-named-simplehttpserver/
function server() {
  local port="${1:-8000}"
  open "http://localhost:${port}/"
  # Set the default Content-Type to 'text/plain' instead of 'application/octet-stream'
  # And serve everything as UTF-8 (although not technically correct, this doesn't break anything for binary files)
  # python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
  python3 -m http.server $port
}
#===============================================================
# Copy w/ progress
function cp_p () {
  rsync -WavP -h --progress "${1}" "${2}"
}
#===============================================================
# copy dir w/file hierarchies with tar
function cp_tar() {
  local SRC="${1}"
  local DST="${2}"
  [ -d "${SRC}" ] || _error "Source directory does not exist" && return 1
  [ -d "${DST}" ] || mkdir -vp "${DST}"
  ( cd "${SRC}/" && tar -cf - . | ( cd "${DST}/" && tar -xpf - ) )
}
#===============================================================
# quick backup of files/dirs w/timestamp
function bkp() {
  for i in ${@} ; do
    BKP="${i}.$(date +%Y%m%d.%H%M%S)"
    if [ -d ${i} ] ; then
      cp -rpf "${i}" "${BKP}"
      _success "Copied [dir]  '${i}' ==> '${BKP}'"
    elif [ -f ${i} ] ; then
      cp -pf "${i}" "${BKP}"
      chmod 600 ${BKP}
      _success "Copied [file] '${i}' ==> '${BKP}'"
    else
      _error "-- skipping [${i}] - not a file or folder"
    fi
  done
}
#===============================================================
# Test if HTTP compression (RFC 2616 + SDCH) is enabled for a given URL.
# Send a fake UA string for sites that sniff it instead of using the Accept-Encoding header. (Looking at you, ajax.googleapis.com!)
function httpcompression() {
  encoding="$(curl -LIs -H 'User-Agent: Mozilla/5 Gecko' -H 'Accept-Encoding: gzip,deflate,compress,sdch' "$1" | grep '^Content-Encoding:')" && echo "$1 is encoded using ${encoding#* }" || echo "$1 is not using any encoding"
}
#===============================================================
# All the dig info
function digga() {
  dig +nocmd any +multiline +all +answer +authority "$1"
}
#===============================================================
# Escape UTF-8 characters into their 3-byte format
function escape() {
  printf "\\\x%s" $(printf "$@" | xxd -p -c1 -u)
  echo # newline
}
#===============================================================
# Decode \x{ABCD}-style Unicode escape sequences
function unidecode() {
  if ( command -v perl &>/dev/null ) ; then
    perl -e "binmode(STDOUT, ':utf8'); print \"$@\""
    echo # newline
  fi
}
#===============================================================
# flush dns
function flushdns() {
  if [[ "$(uname)" == "Darwin" ]] ; then
    if [ -r "/etc/resolv.conf.bkp" ] ; then
      sudo cp -f /etc/resolv.conf.bkp /etc/resolv.conf
    fi
      sudo dscacheutil -flushcache
      sudo killall -HUP mDNSResponder
  elif [[ "$(uname)" == "Linux" ]] ; then
    if ( pidof nscd &>/dev/null ) ; then
      sudo /etc/init.d/nscd restart &>/dev/null || \
      sudo systemctl restart nscd &>/dev/null
    elif ( pidof dnsmasq &>/dev/null ) ; then
      sudo /etc/init.d/dnsmasq restart &>/dev/null || \
      sudo systemctl dnsmasq nscd &>/dev/null
    fi
      sudo resolvectl flush-caches &>/dev/null || \
      sudo systemd-resolve --flush-caches &>/dev/null
  fi
  _info "To clear DNS cache on Chrome visit ${CYAN}chrome://net-internals/#dns${NONE}\n"
}
#===============================================================
# print random fortune with cowsay & fortune
function cookie() {
  for program in cowsay fortune ; do
    if ! ( command -v ${program} &>/dev/null ) ; then
      echo "${program} is not installed ಠ_ಠ"
      return
    fi
  done
  # get all possible figures with: cowsay -l:
  # array=( $(cowsay -l | grep -v Cow | xargs) )
  # or set a fixed list:
  array=(koala luke-koala moofasa moose sheep skeleton small three-eyes tux vader vader-koala www)
  size=${#array[@]}
  index=$((RANDOM % size))
  echo -e "${CYAN}" ; fortune -s | cowsay -f "${array[${index}]}" | sed 's|^|  |' ; echo "${NONE}"
}
#===============================================================
# left trim
function ltrim() {
  sed 's/^[ \t]*//'
}
# right trim
function rtrim() {
  sed 's/[ \t]*$//'
}
# both
function trim() {
  sed 's/^[ \t]*//;s/[ \t]*$//;s/^.$//;s/^$/d'
}
#===============================================================
# find shell history with fzf
function fh() {
  eval $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history -i) | fzf +s --tac | sed 's/ *[0-9]* *//')
}
#===============================================================
# get tls cert from URL
function curl-cert() {
  openssl s_client -showcerts -connect "${1}":443 -servername ${1}
}
#===============================================================
# yazi wrapper
function y() {
  local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
  yazi "$@" --cwd-file="$tmp"
  if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
    builtin cd -- "$cwd"
  fi
  rm -f -- "$tmp"
}
#===============================================================
# spawn subshell into an aws profile
function awsprofile() {
  if ( type zsh &>/dev/null ) ; then
    local AWSSHELL='zsh'
  elif ( type bash &>/dev/null ) ; then
    local AWSSHELL='bash'
  fi
  local CREDENTIALS="${HOME}/.aws/credentials"
  local PROFILES="$(grep '^\[' ${CREDENTIALS} | awk '{gsub(/\[|\]/,"")}1' 2>/dev/null)"
  [[ -z "${PROFILES}" ]] && _error "No profiles found in ${CREDENTIALS} :-(" && return 1
  ANSWER="$(echo "${PROFILES}" | fzf )"
  if [[ -z "${ANSWER}" ]] ; then
    _error "No profile selected" && return 1
  else
    echo "${ANSWER}"
    case "${AWSSHELL}" in
      'zsh')  ( export AWS_PROFILE="${ANSWER}" && zsh -i ) ;;
      'bash') ( export AWS_PROFILE="${ANSWER}" && bash --rcfile <(echo "PS1=\"[${YELLOW}aws${NONE}|${MAGENTA}${ANSWER}${NONE}] \W ${GREEN}→${NONE} \"") -i ) ;;
    esac
  fi
}
#===============================================================
# ¯\_(ツ)_/¯
function disappointed() { echo -n " ಠ_ಠ " | tee /dev/tty | $_clipboardApp; }
function flip() { echo -n "（╯°□°）╯ ┻━┻" | tee /dev/tty | $_clipboardApp; }
function shrug() { echo -n "¯\_(ツ)_/¯" | tee /dev/tty | $_clipboardApp; }

################################################################
# vagrant
################################################################

#===============================================================
# List all vagrant boxes available in the system including its
# status, and try to access the selected one via ssh
function vagrant_shell(){
  if [ -r "${HOME}/.vagrant.d/data/machine-index/index" ] ; then
    ( cd $(cat ${HOME}/.vagrant.d/data/machine-index/index | jq '.machines[] | {name, vagrantfile_path, state}' | jq '.name + "," + .state  + "," + .vagrantfile_path'| sed 's/^"\(.*\)"$/\1/'| column -s, -t | sort -rk 2 | fzf | awk '{print $3}'); vagrant ssh &>/dev/null )
  fi
}

# list/save/restore vagrant snapshots
function vagrant_snapshot() {
  local VM_NAME="$(vagrant status --machine-readable | awk -F',' '/metadata/ {print $2}')"
  case "${1}" in
    list)
      vagrant snapshot ${1}
      ;;
    save)
      # normalize vm name for the snapshot
      local VM_NAME="$(vagrant status --machine-readable | awk -F',' '/metadata/ {print $2}' | sed -e 's/[^A-Za-z0-9._-]/_/g')"
      local VM_SNAPSHOT_NAME="${VM_NAME}-snapshot-$(date +%Y%m%d-%H%M%S)"
      vagrant snapshot ${1} --no-tty "${VM_NAME}" "${VM_SNAPSHOT_NAME}"
      ;;
    restore)
      if [[ "$(vagrant snapshot list | sed 1d &>/dev/null | wc -l)" -gt "0" ]] ; then
        local SNAPSHOT="$(vagrant snapshot list | sed 1d | fzf --header='^-- Select snapshot to restore')"
        vagrant snapshot ${1}  --no-tty --no-start "${VM_NAME}" "${SNAPSHOT}" 2>/dev/null
      else
        _info "[${VM_NAME}] no snapshots to ${1}"
      fi
      ;;
    delete)
      if [[ "$(vagrant snapshot list | sed 1d &>/dev/null | wc -l)" -gt "0" ]] ; then
        for i in $(vagrant snapshot list | sed 1d | fzf -m --header='^-- Select snapshot(s) to delete - use TAB for multiple selection' | xargs) ; do vagrant snapshot ${1} --no-tty  "${i}" ; done
      else
        _info "[${VM_NAME}] no snapshots to ${1}"
      fi
      ;;
    *)
      echo -e "Manage vagrant snapshots.\nUsage:\n $(basename ${0}) {list,save,restore,delete}\n"
      ;;
  esac
}

#===============================================================
# docker
#===============================================================

for alias in da ds drm drmi ; do unalias ${alias} &>/dev/null ; done

#===============================================================
# Select a docker container to start and attach to
function da() {
  local cid=$(docker ps -a | sed 1d | fzf -0 -q "$1" --accept-nth='1')
  [ -n "$cid" ] && docker start "$cid" && docker attach "$cid"
}
#===============================================================
# Select running docker container(s) to stop
function ds() {
  docker ps -a | sed 1d | fzf -q "$1" --no-sort -m --tac --accept-nth='1' | xargs -r docker rm -f
}
#===============================================================
# Select a docker image(s) to remove
function drmi() {
  docker images | sed 1d | fzf -q "$1" --no-sort -m --tac --accept-nth='3' | xargs -r docker rmi -f
}

################################################################
# git
################################################################

#===============================================================
# required aliases/vars:
alias glNoGraph='git log --color --date=format:"%F %H:%M" --format="%C(auto)%h%C(reset) %s %C(green)(%ad) %C(bold blue)<%an>%C(reset)" --graph "$@"'
_gitLogLineToHash="echo {} | grep -o '[a-f0-9]\{7\}' | head -1"
_viewGitLogLine="$_gitLogLineToHash | xargs -I % sh -c 'git show --color=always % | bat --style=numbers'"
_viewGitLogLineUnfancy="$_gitLogLineToHash | xargs -I % sh -c 'git show %'"

#===============================================================
# take this repo and copy it to somewhere else minus the .git stuff
function gitexport(){
  is_in_git_repo || return
  if [ ! -d "${1}" ] ; then
    mkdir -vp "${1}" && git archive HEAD | tar -x -C "${1}"
  else
    _info "[dir] ${1} already exists"
  fi
}
#===============================================================
# gls - git commit browser with previews and vim integration
function git-log() {
  is_in_git_repo || return
  glNoGraph |
    fzf --no-sort --reverse --tiebreak=index --no-multi --exact \
    --ansi --preview-window='right:50%' --preview="$_viewGitLogLine" \
    --header "enter: view, ctrl-y: copy hash, ctrl-e: edit" \
    --border-label=' git-log Preview' \
    --bind "ctrl-u:preview-page-up" \
    --bind "ctrl-d:preview-page-down" \
    --bind "enter:execute:$_viewGitLogLine | less -R" \
    --bind "ctrl-e:execute:$_viewGitLogLineUnfancy | vim -" \
    --bind "ctrl-y:execute:$_gitLogLineToHash | $_clipboardApp"

    # --color=label:italic:yellow,preview-bg:#343434 \
}
alias gls=git-log
#===============================================================
function stash-explorer() {
  while out=$(git stash list "$@" |
    fzf --header="ctrl-a: apply | ctrl-b: branch | ctrl-p: pop | ctrl-x: drop | ESC" \
    --ansi --no-sort --reverse --print-query --query="$query" \
    --expect=ctrl-a,ctrl-b,ctrl-p,ctrl-x \
    --bind "ctrl-u:preview-page-up" \
    --bind "ctrl-d:preview-page-down" \
    --bind "ctrl-k:preview-up" \
    --bind "ctrl-j:preview-down" \
    --border --border-label-pos=3 \
    --border-label=' stash diff' \
    --preview="echo {} | cut -d':' -f1 | xargs git stash show --color -p" \
    --preview-window='right:55%') ;

      # --color='label:italic:yellow,preview-bg:#212121' \
  do
    # Tokenize selection by newline
    selection=("${(f)out}")

    # Keep the query accross fzf calls
    query="${selection[1]}"

    # Represents the stash, e.g. stash{1}
    reflog_selector=$(echo "${selection[3]}" | cut -d ':' -f 1)

    case "${selection[2]}" in
      # ctrl-a applies the stash to the current tree
      ctrl-a)
        git stash apply "${reflog_selector}"
        break
        ;;
      # ctrl-b checks out the stash as a branch
      ctrl-b)
        sha=$(echo "${selection[3]}" | grep -o '[a-f0-9]\{7\}')
        git stash branch "stash-$sha" "${reflog_selector}"
        break
        ;;
      # ctrl-p is like ctrl-a but it drops the stash. Uses stash pop.
      ctrl-p)
        git stash pop "${reflog_selector}"
        break
        ;;
      # del or ctrl-x will drop the stash
      del|ctrl-x)
        git stash drop "${reflog_selector}"
        break
        ;;
    esac
  done
}
#===============================================================
function rebaser() {
  glNoGraph | fzf \
    --ansi \
    --reverse \
    --no-sort \
    --preview='
    hash=$(echo {} | grep -o "[a-f0-9]\{7\}" | sed -n "1p") \
    && [[ $hash != "" ]] \
    && git show --color $hash
    ' \
    --bind='enter:execute(
    hash=$(echo {} | grep -o "[a-f0-9]\{7\}" | sed -n "1p") \
    && [[ $hash != "" ]] \
    && sh -c "git show --color $hash | less -R"
    )' \
    --bind='ctrl-c:execute(
    hash=$(echo {} | grep -o "[a-f0-9]\{7\}" | sed -n "1p") \
    && [[ $hash != "" ]] \
    && git checkout $hash
    )+abort' \
    --bind='ctrl-r:execute(
    hash=$(echo {} | grep -o "[a-f0-9]\{7\}" | sed -n "1p") \
    && [[ $hash != "" ]] \
    && git reset $hash
    )+abort' \
    --bind='ctrl-i:execute(
    hash=$(echo {} | grep -o "[a-f0-9]\{7\}" | sed -n "1p") \
    && [[ $hash != "" ]] \
    && git rebase --interactive $hash
    )+abort' \
    --header-first \
    --header '> ENTER to display the diff
> CTRL-C to checkout the commit | CTRL-R to reset to the commit
> CTRL-I to rebase interactively'
}

#===============================================================
function is_in_git_repo() {
	[ -n "$(git remote -v &>/dev/null)" ] || git rev-parse HEAD &>/dev/null || git rev-parse &>/dev/null
}

#===============================================================
# use gh+fzf+bat to explore pull requests, and checkout the PR branch
function pr-checkout() {
  is_in_git_repo || return
  local jq_template pr_number
  jq_template='"'\
'#\(.number) - \(.title)'\
'\t'\
'Author:  \(.user.login)\n'\
'Created: \(.created_at)\n'\
'Updated: \(.updated_at)\n\n'\
'\(.body)'\
'"'
  pr_number=$(
    gh api 'repos/:owner/:repo/pulls' |
    jq ".[] | ${jq_template}" |
    sed -e 's/"\(.*\)"/\1/' -e 's/\\t/\t/' |
    fzf \
    --with-nth=1 \
    --color='label:italic:yellow,preview-bg:#212121' \
    --border --border-label-pos=3 \
    --border-label=' Pull Request checkout' \
    --pointer='' \
    --delimiter='\t' \
    --preview='echo -e {2} | bat -l md --style=plain --color=always' \
    --preview-window=top:wrap |
    sed 's/^#\([0-9]\+\).*/\1/'
  )
  if [ -n "${pr_number}" ]; then
    gh pr checkout "${pr_number}"
  fi
}
#===============================================================
# use glab+fzf+bat to explore pull requests, and checkout
# the MR branch to start collaborating
function mr-checkout() {
  is_in_git_repo || return
  local jq_template mr_number
  jq_template='"'\
'#\(.iid)   \(.title)  <\(.author.name)>'\
'\t'\
'\(.web_url)\n'\
'---------------------------------------\n'\
'(\(.target_branch)) ← (\(.source_branch))\n'\
'---------------------------------------\n'\
'Title     \(.title)\n'\
'Author    \(.author.name)\n'\
'Created   \(.created_at)\n'\
'Updated   \(.updated_at)\n'\
'---------------------------------------\n\n'\
'\(.description)'\
'"'
  mr_number=$(
    glab mr list -F json |
    jq ".[] | ${jq_template}" |
    sed -e 's/"\(.*\)"/\1/' -e 's/\\t/\t/' |
    fzf \
    --with-nth=1 \
    --border --border-label-pos=3 \
    --color=label:italic:yellow,preview-bg:#101010 \
    --border-label='󰮠 Merge Request checkout' \
    --delimiter='\t' \
    --preview='echo -e {2} | bat -l md --style=plain --color=always' \
    --preview-window=top,50%:wrap | sed 's/^#\([0-9]\+\).*/\1/'
  )
  if [ -n "${mr_number}" ] ; then
    glab mr checkout "${mr_number}"
  fi
}
#===============================================================
# gh-watch -- watch the current github action
function gh-watch() {
  is_in_git_repo || return
  gh run list \
    --branch $(git rev-parse --abbrev-ref HEAD) \
    --json status,name,databaseId |
  jq -r '.[] | select(.status != "completed") | (.databaseId | tostring) + "\t" + (.name)' |
  fzf -1 -0 --accept-nth='1' | xargs gh run watch
}
#===============================================================
# Filter branches.
function git-br() {
  is_in_git_repo || return
  local tags branches target
  tags=$(git tag | awk '{print "tag\t" $1}') || return
  branches=$(git branch --all | grep -v HEAD | sed "s/.* //" | sed "s#remotes/[^/]*/##" |
  sort -u | awk '{print "branch\t" $1}') || return
  target=$((echo "$tags"; echo "$branches") |
    fzf --no-hscroll --no-multi --delimiter="\t" -n 2 \
    --ansi --preview="git log -200 --pretty=format:%s $(echo {+2..} |  sed 's/$/../' )" ) || return
    echo $(echo "$target" | awk -F "\t" '{print $2}')
}
#===============================================================
# Filter branches and checkout the selected one with <enter> key,
function git-co() {
  is_in_git_repo || return
  git checkout $(git-br)
}

################################################################
# devops misc
################################################################

#===============================================================
# helm create function
function helm_create() {
  if [ -z "${1}" ] ; then
    _info "Usage:\n  helm_create <chart-name>\n"
  elif [ ! -d "${1}" ] ; then
    echo -en "${YELLOW}"
    helm create "${1}"
    echo -en "${NONE}"
    _info "cd ${CYAN}$(pwd)/"
    cd "${1}/" && \rm -rf templates/tests templates/*.{txt,yaml}
    cat << EOF > templates/NOTES.txt
To verify that <${1}> has started, run:

  kubectl -n {{ .Release.Namespace }} get all -l "app.kubernetes.io/name={{ template "${1}.name" . }}"

EOF
  pwd ; tree
  else
    _info "  ${1} already exists - nothing to do"
    ls -ld "${1}" ; echo
  fi
}
#===============================================================
# kubectl exec selector
function kx () {
  local pod=($(kubectl get pods --no-headers -o wide | fzf --accept-nth='1'))
  local attr=${@}
  _info "kubectl exec -it ${pod[1]} ${attr} -- {shell}"
  kubectl exec -it ${pod[1]} ${attr} -- ash 2>/dev/null ||
    kubectl exec -it ${pod[1]} ${attr} -- bash 2>/dev/null ||
    kubectl exec -it ${pod[1]} ${attr} -- sh 2>/dev/null
}

#===============================================================
# kubectl logs selector
function kl () {
  local pod=($(kubectl get pods --no-headers -o wide | fzf --accept-nth='1'))
  local attr=${@:-""}
  _info "kubectl logs --timestamps -f ${attr} ${pod[1]}"
  kubectl logs --timestamps -f ${attr} ${pod[1]}
}
#===============================================================
# export kubernetes objects using https://github.com/itaysk/kubectl-neat
function kexport() {
  if ( ! type kubectl-neat &>/dev/null ) ; then
    echo "Install kubectl-neat first -- https://github.com/itaysk/kubectl-neat"
    return 1
  elif [[ -z "${*}" ]] ; then
    echo -e "export kubernetes objects using kubectl-neat\nUsage:\n\t${0} [-n <namespace>] <kind> <name>"
    return 1
  fi
  \kubectl get ${@} -o yaml | kubectl-neat | \bat -l yaml -n --theme=monokay -H 2  # set +x
}

#===============================================================
# k8s: list node count+version
function get-node-versions() {
  date
  _info "Cluster: ${GREEN}$(kubectl config current-context)"
  for i in $(kubectl get node --no-headers | awk '{print $5}'| sort | uniq | xargs) ; do echo "${i} $(kubectl get node --no-headers | grep -c "${i}") nodes" ; done | column -t
  # also:
  # kubectl get nodes -o json | jq -r '.items[].status.nodeInfo.kubeletVersion' | sort | uniq -c
}

#===============================================================
# k8s: list nodepools count+version
function get-nodepools() {
  _info "Nodepools: ${GREEN}$(kubectl config current-context)"
  for i in $(kubectl get nodepools -o custom-columns=':.metadata.name' | xargs) ; do echo "${i} $(kubectl get node --show-labels | grep -c "nodepool=${i}") nodes" ; done | column -tx
}

#===============================================================
# k8s: get node resources
function get-node-resources() {
  if ( ! command -v numfmt &>/dev/null ) ; then
    echo "${MAGENTA}numfmt${NONE} not found - install coreutils package"
    return 1
  fi
  _info "Cluster: ${GREEN}$(kubectl config current-context)"

  kubecolor top node --use-protocol-buffers
  kubectl get node -o wide --no-headers | awk '{print $1" "$3" "$6}' | while IFS=' ' read -r THIS_NODE_NAME THIS_NODE_ROLE THIS_NODE_IP ; do

    [[ "${THIS_NODE_ROLE}" == *"control"* ]] && THIS_NODE_ROLE="${RED}${THIS_NODE_ROLE}${NONE}" || THIS_NODE_ROLE="${GREEN}${THIS_NODE_ROLE}${NONE}"
    THIS_NODE_INSTANCE_TYPE="$(kubectl get node/${THIS_NODE_NAME} --no-headers -o jsonpath='{.metadata.labels.beta\.kubernetes\.io/instance-type}' 2>/dev/null)"

    divider ; _info "Resources for ${MAGENTA}${THIS_NODE_NAME}${NONE} ${THIS_NODE_IP} (${THIS_NODE_ROLE}) ${YELLOW}${THIS_NODE_INSTANCE_TYPE}" | column -tx

    NODE_DETAILS="$(kubectl describe node/${THIS_NODE_NAME} 2>/dev/null)"
    NODE_RESOURCES="$(echo "${NODE_DETAILS}" | grep '^Capacity' -A 12)"
    NODE_PRESSURE="$(echo "${NODE_DETAILS}" | awk '/Pressure/ {print $1"\t"$2}')"

    CAP_CPU_CORES="$(echo "${NODE_RESOURCES}" | awk '/cpu:/ {print $2}' | head -1)"
    CAP_CPU_MILLIS="$(expr ${CAP_CPU_CORES} '*' 1000)m"
    ALLOC_CPU_MILLIS="$(echo "${NODE_RESOURCES}" | grep '^Allocatable:' -A 1 | awk '/cpu:/ {print $2}' | sed 's|m||')"
    ALLOC_CPU_CORES="$(echo "scale=1; ${ALLOC_CPU_MILLIS} / 1000" | bc)"
    ALLOC_CPU_MILLIS="${ALLOC_CPU_MILLIS}m"

    CAP_MEM_KI="$(kubectl get node/${THIS_NODE_NAME} -o jsonpath='{.status.capacity.memory}')"
    CAP_MEM_MI="$(numfmt --from=iec-i --to-unit=1M --grouping ${CAP_MEM_KI} | sed 's|,||')Mi"
    CAP_MEM_GI="$(numfmt --from=iec-i --to=iec ${CAP_MEM_KI})i"

    ALLOC_MEM_KI="$(kubectl get node/${THIS_NODE_NAME} -o jsonpath='{.status.allocatable.memory}')"
    ALLOC_MEM_MI="$(numfmt --from=iec-i --to-unit=1M --grouping ${ALLOC_MEM_KI} | sed 's|,||')Mi"
    ALLOC_MEM_GI="$(numfmt --from=iec-i --to=iec ${ALLOC_MEM_KI})i"

    echo -e "${CYAN}Capacity:${NONE}
     cpu:    ${CAP_CPU_CORES}\t= ${CAP_CPU_MILLIS}
  memory:    ${CAP_MEM_GI}\t= ${CAP_MEM_MI} = ${CAP_MEM_KI}
${CYAN}Allocatable:${NONE}
     cpu:    ${ALLOC_CPU_CORES}\t= ${ALLOC_CPU_MILLIS}
  memory:    ${ALLOC_MEM_GI}\t= ${ALLOC_MEM_MI} = ${ALLOC_MEM_KI}
${CYAN}Pressure:${NONE}
${NODE_PRESSURE}"
  done
  divider
}

#===============================================================
# k8s: get PersistentVolume info
function get-pv-info() {
  local ME="${0}"

  function show_help() {
    cat << EOF
Usage:
  ${ME} [-n <namespace>] [-l <label-selector>] [-A]

Optional:
  -n  namespace

Required:
  -l  use label to filter results

Examples:
  ${ME} -n prod
  ${ME} -n dev -l cluster-name=foo

EOF
  }

  while getopts n:l:h Option ; do
    case "${Option}" in
      n)  local NAMESPACE="${OPTARG}" ;;
      l)  local OPT_LABEL="-l ${OPTARG}" ;;
      h)  show_help ; return 0 ;;
      *)  show_help ; return 0 ;;
    esac
  done

  if [ -n "${NAMESPACE}" ] ; then
    if ! (\kubectl get ns --no-headers | grep "^${NAMESPACE}" &>/dev/null) ; then
    # ${NAMESPACE} not found:
    sleep 1
    local NAMESPACE="$(kubectl get ns -o custom-columns=':.metadata.name' --no-headers | grep -v '^kube' | fzf -s --tac --header "-- Namespace [${NAMESPACE}] not found -- please select another  (ESC to Cancel)")"
    if [ -z "${NAMESPACE}" ] ; then
      echo "No namespace selected, bye"
      return 1
    fi
    fi
  elif [ "${KUBE_PS1_NAMESPACE}" ] || ( \kubectl config view --minify -o jsonpath='{..namespace}' &>/dev/null ) ; then
    local NAMESPACE="$(\kubectl config view --minify -o jsonpath='{..namespace}' 2>/dev/null)"
    echo "Guessed NAMESPACE: $NAMESPACE"
  else
    _error "Please specify a namespace"
    return 1
  fi

  local PRINT_NAMESPACE="${GREEN}${NAMESPACE}${NONE}/"
  local ALL_PODS="$(\kubectl get pod -n ${NAMESPACE} ${OPT_LABEL} -o jsonpath='{range.items[*]}{..metadata.name}{" "}{..nodeName}{"\n"}{end}')"

  if [ -z "${ALL_PODS}" ] ; then
    echo -e "  No matching pods were found. Try:\n\tkubectl -n ${NAMESPACE} get pod --show-labels\n  then use label-selectors:\n\t${ME} -n ${NAMESPACE} [-l key=value]\n"
    return 1
  fi

  local POD_COUNT="$(echo "${ALL_PODS}" | wc -l | sed 's/^[ \t]*//;s/[ \t]*$//')"
  local CURRENT_CONTEXT="$(\kubectl config current-context)"

  [ -n "${CURRENT_CONTEXT}" ] && divider ; _info "Cluster:   ${GREEN}${CURRENT_CONTEXT}" ; _info "Namespace: ${GREEN}${NAMESPACE}${NONE}" ; divider
  echo -e "Match: ${BOLD}${POD_COUNT}${NONE} Pod(s)"

  echo "${ALL_PODS}" | while read -r THIS_POD THIS_POD_NODE ; do
    local THIS_PVC="$(\kubectl -n ${NAMESPACE} describe pod/${THIS_POD} | awk '/ClaimName/ {print $2}')"
    if [ -n "${THIS_PVC}" ] ; then
    local THIS_POD_NODE_EXTERNAL_IP="$(\kubectl get node/${THIS_POD_NODE} -o jsonpath='{.status.addresses[?(@.type == "InternalIP")].address}')"
    local THIS_PVC_CLASS="$(\kubectl -n ${NAMESPACE} get pvc/${THIS_PVC} -o yaml | yq '.spec.storageClassName')"
    local THIS_PV="$(\kubectl describe -n ${NAMESPACE} pvc/${THIS_PVC} 2>/dev/null | awk '/Volume:/ {print $2}')"
    local THIS_SIZE="$(\kubectl get pv/${THIS_PV} -o yaml | yq '.spec.capacity.storage')"
    # try first a HostPath
    local THIS_PV_INFO="$(\kubectl describe pv/${THIS_PV} 2>/dev/null | awk '/Path:/ {print $2}')"
    # otherwise try to get something else..
    if [ -z "${THIS_PV_INFO}" ] ; then
      local THIS_PV_INFO="driver:$(\kubectl get pv/${THIS_PV} -o yaml 2>/dev/null | yq '.spec.csi| (.driver, .volumeHandle, .fsType)' | xargs)"
    fi
    divider
    echo -e "    Pod: ${CYAN}${THIS_POD}${NONE}\n   Node: ${THIS_POD_NODE}\tip:${BOLD}${THIS_POD_NODE_EXTERNAL_IP}${NONE}\n    PVC: ${THIS_PVC}\tclass:${BOLD}${THIS_PVC_CLASS}${NONE}\n     PV: ${THIS_PV} size:${BOLD}${THIS_SIZE}${NONE}\nDetails: ${YELLOW}${THIS_PV_INFO}${NONE}"
    fi
  done
  divider
  echo
}

################################################################
# Add your custom functions below
################################################################
