**/*.[1-9999]*
**/*.bkp
**/*.disabled
**/.DS_Store
**/.aliases_custom
**/.aliases_work
**/.exports
**/.functions_custom
**/.secrets
**/.stowrc
**/.tool-versions
**/.zshrc_custom
**/lazy-lock.json
**/spell
**/state.yml
.atl/
AGENTS.md
