**/*.[1-9999]*
**/*.backup*
**/*.bkp*
**/*.disabled
**/*.log
**/*.sock
**/.DS_Store
**/.aliases_custom
**/.aliases_work
**/.exports
**/.functions_custom
**/.secrets
**/.stowrc
**/.tmux_custom.conf
**/.tool-versions
**/.zshrc_custom
**/lazy-lock.json
**/session.json
**/spell
**/state.yml
.atl/
.opencode/
AGENTS.md
